* {
  font-family: "Courier New", Courier, monospace;
}

ul {
  margin-top: 15px;
  margin-left: 10px;
}

ul li {
  margin-top: 5px;
}

.flex-parent {
  display: flex;
  width: 100%;
}

.flex-parent > div {
  width: 50%;
}

.arrow_box {
  position: relative;
  background: #555;
  border: 2px solid #000000;
}

.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#chart .apexcharts-tooltip {
  color: #fff;
  overflow: visible !important;
  white-space: normal !important;
}

#chart .apexcharts-tooltip span {
  padding: 5px 10px;
  display: block;
}

.input {
  margin: 5px;
}
